nav.mt-5
  a.btn.btn-primary.mb-3(href='/home') Home
  a.btn.btn-primary.ml-5.mb-3(href='/api/search') Search
  a.btn.btn-primary.ml-5.mb-3(href='/history') History
  a.btn.btn-primary.ml-5.mb-3(href='/api/news/market') News
  a.btn.btn-primary.ml-5.mb-3(href='/api/charts') Interactive Chart