nav.mt-5.mb-3.d-flex.flex-row.justify-content-between
    a.col.btn.btn-primary.mb-3.ml-2(href='/home') Home
    a.col.btn.btn-primary.mb-3.ml-2(href='/api/search') Search
    a.col.btn.btn-primary.mb-3.ml-2(href='/history') History
    a.col.btn.btn-primary.mb-3.ml-2(href='/api/news/market') News
    //- a.btn.btn-primary.mb-3.p-2(href='/api/charts') Interactive Chart