extends layout

block content
  h1.mt-5 Currencies
  nav.mt-4.navbar-left
    a.btn.btn-primary.mb-3.mr-3(href='./search') Search

  section#Currencies
    h3.mt-3.mb-4 Currency Conversion
    form.form-inline(method="POST" action="/api/coNews", name="search")
      .form-group
        input#curOne.form-control(type="text", placeholder='USD')
      .form-group
        p(style='padding:0 20px') into
      .form-group
        input#curTwo.form-control(type="text", placeholder='BTC')
      button.btn.btn-default.ml-3(type='button') View
