extends layout

block content
  h1.mt-5 Currencies
  nav.mt-4.navbar-left
    a.btn.btn-primary.mb-3.mr-3(href='./search') Search

  section
    h3.mt-3.mb-4 Search Cryptocurrencies
    form.form-inline(method="POST" action="/api/currencies", name="search")
      .form-group
        input.form-control(type="text", placeholder='BTC', name="id")
      button.btn.btn-default.ml-3(type='submit') Search

  section
    h3.mt-3.mb-4 Daily
    each result in Exchange
      ul(style='list-style:none; padding-left:0;')
        
