if error.length !== 0
 - console.log(error.length)
  .alerts.alert-danger.card.card-body.mb-1#alarmmsg #{error}

if success.length !== 0
 - console.log(success.length)
  .alerts.alert-success.card.card-body.mb-1#alarmmsg #{success}