extends layout.pug

block content
  include ./partials/inAppNav.pug
  h1.mt-2= title
  form(method="POST" action="./stock")
    .form-group
      label(for='title') Company Name
      input#name.form-control(type='text', placeholder='Enter id', name="id", value=company.id)
    button.btn.btn-primary(type='submit') Find
