html
  head
    title Stockify
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
  body(style="height: 100vh")
    header
      nav.navbar.navbar-dark.bg-dark
        a.navbar-brand(href='/') stocks
        if user.Name
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              li.nav-item.active
                a.nav-link(href='/logout')
                  | Logout 

        span.sr-only (current)
    main.container(role='main')
      include ./partials/flash-msg.pug
      block content

    footer.footer.d-flex.mt-5(style="bottom: 10px")
      if user.Name
        span.text-muted.ml-5 Copyright 2018.
        form(method='POST' action='/delete/'+user._id+"?_method=DELETE").form-inline.ml-auto
          button.btn.btn-default.btn-sm.bg-danger.text-white.float-right.mr-5(type='submit')
           | Delete Account

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://code.highcharts.com/stock/highstock.js")
    script(src="https://code.highcharts.com/stock/modules/exporting.js")
    script(src="https://code.highcharts.com/stock/modules/export-data.js")
