extends layout.pug

block content
  .main.container
    .row
      .col-sm-12.col-md-8
        h1.mt-5 Log In
        form(method='POST' action='/login')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email' value= user.Email)
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password' value = user.Password)
          button.btn.btn-primary(type='submit') Log in 
          a.btn.btn-primary(href='./signup' style='margin-left: 25px') Sign up