extends layout.pug

block content
  h1.mt-5 Stocks
  table.table
    thead
      tr
        th(scope='col') Name
        th(scope='col') Symbol
        th(scope='col') Exchange
    tbody
      each company in query
        tr
          td= company.Name
          td
            a(href='./stock/' + company.Symbol)= company.Symbol
          td= company.Exchange
