extends layout

block content
  .main.container(style='margin: 0 auto')
    .row
      .col-md-6.col-md-offset-3
        h1.mt-5 Sign Up

        // register form
        form(method='POST' action='/register')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='Name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='Email')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='Password')
          button.btn.btn-primary(type='submit'  ) Sign up