extends layout.pug

block content
  h1.mt-5= Search
  h2.mt-5= "Search by..."
  section(style='padding:10px 0')
    a.btn.btn-primary(href='./api/lookup' style='margin-left: 0') Company
    a.btn.btn-primary(href='./api/stock' style='margin-left: 10%') Symbol
  h2.mt-5= "Search for..."
  section(style='padding:10px 0')
    a.btn.btn-primary(href='./stock/financials' style='margin-left: 0; margin-bottom:20px') Financials
    a.btn.btn-primary(href='./stock/closing' style='margin-left: 10%; margin-bottom:20px') Closing Price
    a.btn.btn-primary(href='./api/stock' style='margin-left: 10%; margin-bottom:20px') Opening Price
    a.btn.btn-primary(href='./api/stock' style='margin-left: 10%; margin-bottom:20px') Gain
    a.btn.btn-primary(href='./stock/dividends' style='margin-left: 10%; margin-bottom:20px') Dividends
