extends layout.pug

block content
  h1.mt-5= Search
  h2.mt-5= "Search by..."
  section(style='padding:10px 0')
    a.btn.btn-primary(href='./api/lookup' style='margin-left: 0') Company
    a.btn.btn-primary(href='./api/stock' style='margin-left: 10%') Symbol
  h2.mt-5= "Search for..."
  section.navbar-left
    a.btn.btn-primary(href='./' style='margin-right: 10%; margin-bottom:20px') Financials
    a.btn.btn-primary(href='./api/marketNews' style='margin-left: 10%; margin-bottom:15px') News
