extends layout.pug

block content
  h1.mt-5= Search
  h2.mt-5= "Search by..."
  a.btn.btn-primary(href='./api/lookup' style='margin-left: 0') Company
  a.btn.btn-primary(href='./api/stock' style='margin-left: 10%') Symbol
  h2.mt-5= "Search for..."
  a.btn.btn-primary(href='./stock/financials' style='margin-left: 0') Financials
  a.btn.btn-primary(href='./stock/closing' style='margin-left: 10%') Closing Price
  a.btn.btn-primary(href='./api/stock' style='margin-left: 10%') Opening Price
  a.btn.btn-primary(href='./api/stock' style='margin-left: 10%') Gain
  a.btn.btn-primary(href='./stock/dividends' style='margin-left: 10%') Dividends
