extends layout.pug

block content
  h1.mt-5= Search
  h2.mt-5= "Search by..."
  section(style='padding:10px 0')
    a.btn.btn-primary.mr-4.mb-3(href='./api/lookup') Company
    a.btn.btn-primary.mr-4.mb-3(href='./api/stock') Symbol
  h2.mt-5= "Search for..."
  section
    a.btn.btn-primary.mr-4.mb-3(href='./api/markets/gain') Top Market Performers
    a.btn.btn-primary.mr-4.mb-3(href='./api/marketNews') Market and Company News
